<strong>Olá, {{ student }}</strong>
<p> Sua dúvida foi respondida:</p>
<p><strong>Pergunta:</strong> {{ question }}</p>
<p><strong>Resposta: </strong> {{ answer }} <br/></p>
<p>
  <small>
    <strong> Sua pergunta foi respondida em:</strong> {{ answer_at }}
    </small>
</p>

