<strong>Olá, {{ student }}</strong>
<p> Sua matrícula foi realizada conforme dados abaixo:</p>
<p>
    <strong>Plano:</strong> {{plan}} <br/>
    <strong>Valor total: </strong> R${{value}} <br/>
    <strong>Matrícula válida até: </strong> {{end_date}} <br/>
</p>
